@charset "UTF-8";

html {
    touch-action: manipulation;
}

body {
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

figure {
    width: fit-content;
}

figure img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

table {
    border: 2px solid black;
    max-width: 100%;
    border-collapse: collapse;
    padding: 2px;
}

th {
    max-width: 100%;
    border-width: 2px 0px;
    border-color: black;
    border-style: solid;
}

td {
    max-width: 100%;
    border-width: 2px 1px;
    border-color: black;
    border-style: dotted;
}
