@charset "UTF-8";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body {
    touch-action: manipulation;
}

button.skillcount-plusbutton,
button.skillcount-minusbutton {
    width: 28px;
    height: 28px;
    margin-left: 3pt;
    margin-right: 3pt;
}

input,
select {
    font-size: 16pt;
}

input.param {
    width: 50px;
}

input.skillcount {
    width: 36px;
}

input#savestr {
    max-width: 80%;
}

.skillscore {
    text-align: right;
}

table {
    border: 2px solid black;
}

th,
td {
    padding: 2px;
}

tr.whiteskill {
    background-color: white;
}

tr.redskill {
    background-color: #ffa0a0;
}

tr.goldskill {
    background-color: #ffffa0;
}

tr.greenskill {
    background-color: #a0ffa0;
}
