@charset "UTF-8";

.param {
    width: 50px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button.skillcount-plusbutton,
butotn.skillcount-minusbutton {
    width: 24px;
    height: 24px;
}

input.skillcount {
    width: 32px;
}

.skillscore {
    text-align: right;
}

table {
    border: 2px solid black;
}

th,
td {
    padding: 2px;
}

tr.whiteskill {
    background-color: white;
}

tr.redskill {
    background-color: #ffa0a0;
}

tr.goldskill {
    background-color: #ffffa0;
}

tr.greenskill {
    background-color: #a0ffa0;
}

#savestr {
    max-width: 80%;
}
